<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <!--<add key="imgesPath" value="C:\Users\Vladimir\source\repos\HW_WPF_20200227_StylesAndTemplates\HW_WPF_20200227_StylesAndTemplates\Images"/>
    <add key="resourcesPath" value="C:\Users\Vladimir\source\repos\HW_WPF_20200227_StylesAndTemplates\HW_WPF_20200227_StylesAndTemplates\Resources"/>-->
  </appSettings>

</configuration>